/****************************************************
Name: Curtis Ramsey Eddins
Assignment: 04
Purpose: Use PHP.
Notes: 
*********************************************************/



body {background-color: #f8f3c4;
    color: #000000 ;
    font-family: PT Sans caption,
    Lucida Sans,Tahoma,sans-serif; 
    text-align: center;
    }
    

#form-div {
    margin: 5px auto;
}

.form-input {
    width: 100%;
}


.form-container{
    text-align: center;
    margin: 50px auto;
    width: 100%;
    
}


#message {
    padding: 0 0 175px 0;
}

#name,#email,#remail,#subject {
    padding: 0 0 2px 0;
}

.input-div {
    margin-bottom: 10px;
}


@media (min-width: 600px) {
    .form-container{
        width: 60%;
    }



}

