/****************************************************
Name: Curtis Ramsey Eddins
Assignment: 04
Purpose: Use PHP.
Notes: 
*********************************************************/



body {background-color: #a0a09e;
    color: #000000 ;
    font-family: PT Sans caption,
    Lucida Sans,Tahoma,sans-serif; 
    text-align: center;
    }

h1 {
    padding-top: 50px;
    font-size: 23pt;
     
}
    

#form-div {
    margin: 5px auto;
}

.form-input {
    width: 100%;
}


.form-container{
    text-align: center;
    margin: 5px auto;
    width: 100%;
    
}


#message {
    padding: 0 0 175px 0;
    font-size: 10pt;
}

#name,#email,#remail,#subject {
    padding: 0 0 3px 0;
    font-size: 10pt;
}



.input-div {
    margin-bottom: 10px;
    font-size: 10pt;
   
}

button {
    width: 100px;
    background-color: #000000;
    color: azure;
}
button:hover{
    color: rgb(252, 252, 252);
    background-color: rgb(255, 0, 0);
}

::placeholder{
    font-size: 10pt;
    margin: 1px;
}

@media (min-width: 600px) {
    .form-container{
        width: 60%;
    }



}

